/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --pri: #452829;
  --sec: #57595b;
  --tri1: #f2d8ca;
  --tri2: #f3e8df;
  --gold: #d4a373;
  --black: black;
  --white: white;
  --input: #f2e8dc;
}
@font-face {
  font-family: bold;
  src: url(/fonnts.com-Aeonik-Bold.ttf);
}
@font-face {
  font-family: regular;
  src: url(/fonnts.com-Aeonik-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: regular;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  position: relative;
  height: 100%;
}

section.allElems {
  width: 100%;
  background-color: var(--pri);
  padding: 30px 25px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
}

section.allElems nav {
  width: 100%;
  height: 15vh;
  background-color: var(--tri2);
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 10px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  position: sticky;
  top: 3%;
  z-index: 1000;
}
section.allElems nav h1 {
  font-size: 40px;
  color: var(--black);
  opacity: 0.8;
  font-weight: 900;
}
section.allElems nav button {
  padding: 10px 15px;
  font-size: 20px;
  border: none;
  -webkit-box-shadow: 2px 2px 0 var(--pri);
  box-shadow: 2px 2px 0 var(--pri);
  background-color: var(--pri);
  border-radius: 8px;
  color: var(--tri2);
}
section.allElems nav button:active {
  scale: 0.95;
}
section.allElems header {
  width: 100%;
  padding: 70px 40px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: light;
}
section.allElems header .header1 h3 {
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin-left: 2px;
}
section.allElems header .header1 h1 {
  font-size: 75px;
  font-weight: 500;
  color: white;
}
section.allElems header .header1 h2 {
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin-left: 2px;

}
section.allElems header .header2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
section.allElems header .header2 h1 {
  font-size: 70px;
  font-weight: 600;
  color: white;
}
section.allElems header .header2 h2 {
  font-size: 35px;
  font-weight: 600;
  color: white;
  margin-top: -8px;
  margin-bottom: 15px;
}
section.allElems header .header2 h3 {
  font-size: 20px;
  color: white;
  font-weight: 400;
}
section.allElems .allfeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
section.allElems .allfeatures .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  gap: 60px;
}
section.allElems .allfeatures .features-heading h1 {
  font-size: 40px;
  color: var(--input);
  opacity: 0.9;
  font-weight: 500;
}
.elem {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 400px;
  width: 45%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-box-shadow: 2px 2px 10px var(--black);
  box-shadow: 2px 2px 10px var(--black);
}
.elem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.elem h2 {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  font-size: 60px;
  color: var(--sec);
  text-shadow: 2px 2px 7px var(--pri);
}
.elem:active {
  scale: 0.97;
}

.fullElem {
  width: 100%;
  display: none;
  padding: 20px 10px;
  position: absolute;
  background-color: var(--pri);
}
.fullElem .fullElem-heading {
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
}
.fullElem .fullElem-heading .back {
  background-color: var(--tri1);
  color: var(--pri);
  font-weight: 500;
  padding: 5px 8px;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  opacity: 70%;
}
.fullElem .fullElem-heading .back:active {
  scale: 0.95;
}

.fullElem .fullElem-heading h1 {
  color: var(--tri2);
  font-size: 65px;
  opacity: 80%;
}
.todo-fullpage {
  height: 100%;
}
.todo-fullpage .todo-container {
  width: 100%;
  height: 80%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.todo-fullpage .todo-container .addTask {
  width: 33%;
  height: 100%;
  background-color: var(--sec);
  border-radius: 20px;
}
.todo-fullpage .todo-container .addTask form {
  height: 100%;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.todo-fullpage .todo-container .addTask form #task-name {
  padding: 8px 10px;
  font-size: 20px;
  height: 10%;
  background-color: var(--tri2);
  border-radius: 10px;
  border: none;
  outline: none;
}
.todo-fullpage .todo-container .addTask form textarea {
  padding: 8px 10px;
  font-size: 20px;
  height: 70%;
  max-width: 100%;
  background-color: var(--tri2);
  border-radius: 10px;
  border: none;
  outline: none;
}
.todo-fullpage .todo-container .addTask form button {
  padding: 8px 10px;
  font-size: 20px;
  opacity: 90%;
  font-weight: 500;
  height: 10%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--tri1);
}
.todo-fullpage .todo-container .addTask form button:active {
  scale: 0.95;
}
.todo-fullpage .todo-container .allTask {
  width: 65%;
  height: 100%;
  background-color: var(--sec);
  border-radius: 20px;
}
.todo-fullpage .todo-container .allTask {
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  overflow: auto;
}
.todo-fullpage .todo-container .allTask .task {
  padding: 12px 18px;
  background-color: var(--tri2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 15px;
}
.todo-fullpage .todo-container .allTask .task div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.todo-fullpage .todo-container .allTask .task h2 {
  font-size: 25px;
  color: var(--black);
  font-weight: 500;
  opacity: 95%;
}
.todo-fullpage .todo-container .allTask .task span {
  padding: 4px 5px;
  border-radius: 10px;
  font-size: 10px;
  color: var(--tri2);
  font-weight: 500;
  opacity: 1;
}
.todo-fullpage .todo-container .allTask .task span.false {
  opacity: 0;
}
.todo-fullpage .todo-container .allTask .task button {
  padding: 5px 8px;
  font-size: 16px;
  background-color: rgba(0, 128, 0, 0.668);
  color: var(--tri2);
  border: none;
  border-radius: 10px;
}
.mark-imp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  padding: 0 5px;
}
.mark-imp input {
  scale: 1.3;
}
.mark-imp label {
  font-weight: 500;
  font-size: 18px;
  opacity: 80%;
}

.day-planner {
  background-color: var(--pri);
  width: 100%;
  padding: 20px 0;
  margin-top: 30px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.day-planner .day-planner-time {
  width: 48%;
  position: relative;
}
.day-planner .day-planner-time p {
  position: absolute;
  top: 6%;
  left: 1%;
  font-size: 14px;
  color: var(--tri1);
  font-weight: 600;
}
.day-planner .day-planner-time input {
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;
  background-color: var(--sec);
  padding: 10px 20px;
  padding-top: 25px;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 600;
  color: var(--input);
  font-family: monospace;
}
.day-planner .day-planner-time input::-webkit-input-placeholder {
  color: #d9d9d9;
}
.day-planner .day-planner-time input::-moz-placeholder {
  color: #d9d9d9;
}
.day-planner .day-planner-time input:-ms-input-placeholder {
  color: #d9d9d9;
}
.day-planner .day-planner-time input::-ms-input-placeholder {
  color: #d9d9d9;
}
.day-planner .day-planner-time input::placeholder {
  color: #d9d9d9;
}
.daily-planner-fullpage .fullElem-heading p {
  font-size: 20px;
  color: var(--gold);
  text-align: center;
  opacity: 7 0%;
  background-color: var(--sec);
  padding: 10px 15px;
  border-radius: 10px;
}
.daily-planner-fullpage .day-planner-delete {
  width: 10%;
  height: 10%;
  padding: 10px 15px;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
  background-color: red;
  border: none;
  border-radius: 20px;
  color: var(--tri2);
  font-weight: 500;
  opacity: 80%;
}
.daily-planner-fullpage .day-planner-delete:active {
  scale: 0.97;
}

.Motivational-fullpage {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--sec);
}
.Motivational-fullpage .fullElem-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.Motivational-fullpage .motivational-container {
  min-height: 400px;
  min-width: 950px;
  background-color: var(--pri);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border-radius: 40px;
}
.Motivational-fullpage .motivational-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--pri);
  border-radius: 40px;
  scale: 1.2;
  z-index: 8;
  -webkit-filter: blur(100px);
  filter: blur(100px);
}
.Motivational-fullpage .motivational-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: var(--pri);
  border-radius: 40px;
  padding: 15px;
}

.motivation-1 {
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}
.motivation-1 h2 {
  color: var(--tri1);
  font-weight: 500;
  font-size: 35px;
  opacity: 0.8;
  background-color: var(--sec);
  border-radius: 20px;
  padding: 10px 15px;
}
.motivation-1 img {
  scale: 0.9;
  opacity: 0.3;
}

.motivation-2 {
  padding: 10px;
  margin-bottom: 30px;
}
.motivation-2 h2 {
  font-size: 35px;
  color: var(--tri2);
  font-weight: 500;
  font-family: regular;
}

.motivation-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
}
.motivation-3 h2 {
  text-align: right;
  background-color: var(--sec);
  border-radius: 20px;
  padding: 10px 15px;
  color: var(--tri1);
  font-weight: 500;
  font-size: 30px;
  opacity: 0.8;
}
.motivation-3 img {
  scale: 0.9;
  opacity: 0.3;
}

.pomodoro-fullpage {
  width: 100%;
  height: 100%;
  background-color: var(--pri);
  position: relative;
}

.pomodoro-fullpage > h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  color: var(--gold);
  font-weight: 500;
}
.pomodoro-fullpage .pomo-timer {
  background-color: var(--sec);
  padding: 20px 30px;
  width: 40%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 3px 3px 10px var(--black);
  box-shadow: 3px 3px 10px var(--black);
}

.pomodoro-fullpage .pomo-timer h1 {
  font-size: 100px;
  color: var(--tri2);
  opacity: 0.9;
}

.pomodoro-fullpage .pomo-timer div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.pomodoro-fullpage .pomo-timer div button {
  border: none;
  padding: 10px 15px;
  font-size: 30px;
  border-radius: 20px;
  background-color: var(--pri);
  color: var(--tri2);
  -webkit-box-shadow: 3px 3px 10px var(--black);
  box-shadow: 3px 3px 10px var(--black);
}
.pomodoro-fullpage .pomo-timer div button:active {
  scale: 0.97;
}
.daily-goals-fullpage {
  height: 100%;
  background-color: var(--pri);
}
